.idea

node_modules
dist

.nx
.nx/cache
.nx/workspace-data

.env
.env.prod
.env.test

!apps/server/uploadsuploads

!apps/server/uploadsuploads/*/

apps/server/uploads/*/*
!apps/server/uploads/*/.gitkeep

.next
out

tasks.txt
test-output
