HOST_URL="http://localhost:4200"
CLIENT_URL="http://localhost:3000"

DATABASE_URL="postgresql://postgres:postgres@localhost:5433/test_db?schema=public"

JWT_SECRET="SECRET"

REDIS_HOST='localhost'
REDIS_PORT=6379
